# disable test code analysis
[tst/**.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

# C# files
[*.cs]

#### Diagnostic configuration ####

### NOTE: Category based serverity config is broken (ignored)
dotnet_analyzer_diagnostic.category-Naming.severity = none

### Write refactoring safe code (Use nameof in place of string)
dotnet_diagnostic.CA1507.severity = warning

### No syntax confusion for non morons (Do not declare static members on generic types)
dotnet_diagnostic.CA1000.severity = none

### Allow protected fields (Do not declare visible instance fields)
dotnet_diagnostic.CA1051.severity = none

### relax (Use the LoggerMessage delegates)
dotnet_diagnostic.CA1848.severity = none

### We want simply name of missing argument (Instantiate argument exceptions correctly)
dotnet_diagnostic.CA2208.severity = none

### No real simplification gained (Simplify new expression)
dotnet_diagnostic.IDE0090.severity = none
dotnet_style_object_initializer = false

### Too much noise ('default' expression can be simplified)
dotnet_diagnostic.IDE0034.severity = none

### Too much noise (Indexing can be simplified)
dotnet_diagnostic.IDE0056.severity = none

### Too much noise (Substring can be simplified)
dotnet_diagnostic.IDE0057.severity = none

### Do not prefer deconstruction in variable declarations
csharp_style_deconstructed_variable_declaration = false

### No naming rules (Naming rule violation)
dotnet_diagnostic.IDE1006.severity = none

